<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="657a99">  <td>21/01/20 17:56:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AutomationTestCase_001.SubmitQueryTest()[pri:0, instance:com.TestCases.TC_AutomationTestCase_001@6e1567f1]">SubmitQueryTest</td> 
  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f99ea">  <td>21/01/20 17:56:09</td>   <td>-10129</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:com.TestCases.TC_AutomationTestCase_001@6e1567f1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1836797772</td>   <td></td> </tr>
<tr bgcolor="9f99ea">  <td>21/01/20 17:56:32</td>   <td>13324</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.TestCases.TC_AutomationTestCase_001@6e1567f1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1836797772</td>   <td></td> </tr>
</table>
