<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>OldMutualAutomationV1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a56aac">  <td>21/01/20 18:37:05</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String)[pri:0, instance:com.TestCases.TC_AutomationTestCase_001@6c3f5566]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1577592551</td>   <td></td> </tr>
<tr bgcolor="79bb86">  <td>21/01/20 18:37:13</td>   <td>7184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AutomationTestCase_001.SubmitQueryTest()[pri:0, instance:com.TestCases.TC_AutomationTestCase_001@6c3f5566]">SubmitQueryTest</td> 
  <td>main@1577592551</td>   <td></td> </tr>
<tr bgcolor="a56aac">  <td>21/01/20 18:37:24</td>   <td>18411</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.TestCases.TC_AutomationTestCase_001@6c3f5566]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1577592551</td>   <td></td> </tr>
</table>
